
.left-title{
	width: 18%;
	vertical-align: middle;
	background-color: #6FB0E9;
	text-align: center;
	padding: 10px 0px;
}
.left-title h3{
	color: #fff;
	font-weight: bold;
}
.right-goods-supply li {
	float: left;
	margin-left: 1.5%;
	margin-top: 5px;
	margin-bottom: 5px;
}
.supply table{
	border: 1px solid #dcdcdc;
}