.form-horizontal .control-label {
padding-top: 7px;
margin-bottom: 0;
text-align: right;
}
.col-sm-2 {
width: 16.66666667%;
float: left;
position: relative;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
}
.col-sm-offset-2 {
margin-left: 16.66666667%;
}
.col-sm-10{
	width: 83.33333333%;
	float: left;
	position: relative;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
}
.release-title{
	width: 100%;
	color: #fff;
	background-color: #6FB0E9;
	text-align: center;
	padding: 5px 0px;
}
.form-info .form-group{
	padding-left: 25%;
}
.form-info .form-control{
	display: inline-block;
	width: 220px;
}
input[type="file"]{
	display: inline-block;
	width: 75px;
}
.glyphicon-ok{
	color: red;
}